[Unit]
Description=Sausage-store

[Service]
User=jarservice
Environment=REPORT_PATH=/var/www-data/htdocs/
Environment=LOG_PATH=/
EnvironmentFile=/etc/systemd/system/sausage-store-backend.service.d/sausage-store.conf
StandardOutput=file:/logs/out.log
Restart=always
ExecStart=/usr/lib/jvm/java-16-openjdk-amd64/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar' \
--spring.datasource.url='jdbc:postgresql://c-c9q0i2gb2i7lof23dn4u.rw.mdb.yandexcloud.net:6432/sausagestore' \
--spring.datasource.username='dbadmin' \
--spring.datasource.password=${POSTGRES_PASS} \
--spring.flyway.baselineOnMigrate=true \
--spring.data.mongodb.uri=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:27018/${MONGO_DATABASE}?tls=true 
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
