[Unit]
Description=Sausage-store

[Service]
User=jarservice
Environment=REPORT_PATH=/var/www-data/htdocs/
Environment=LOG_PATH=/
StandardOutput=file:/logs/out.log
Restart=always
ExecStart=/usr/lib/jvm/java-16-openjdk-amd64/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar' \
--spring.datasource.url='jdbc:postgresql://rc1a-kdjcam3fo6jtx3gw.mdb.yandexcloud.net:6432/sausagestore' \
--spring.datasource.username='dbadmin' \
--spring.datasource.password='password'
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
